* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.section-tech {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#17DCB3);
}

section img {
  max-width: 90%;
}

.section-form {
    background-color: black;

}
