* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#17DCB3);
}

section img {
  max-width: 90%;
}